.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousl-item {
  
  display:inline-flex;
  white-space:normal;
   position: relative; 
  align-items: center;
  justify-content: center;
 
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: green;
  color: #fff;
}
