
/* body {
  font-family: 'PT Sans', sans-serif;
  padding: 2rem;
} */
button {
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.75em; 
  display: inline-block;
  text-decoration: none;
}
  button:hover {
    cursor: pointer;
  }
  button:focus {
    text-decoration: none;
    outline: none;
}
.comment-form-actions{
  margin-top: 1rem;
}
.comment-form-actions button{
  background-color: #F6EABE;
  font-size: 1.2rem;
}
.comment-box {
  margin-bottom: 8rem;
  max-width: 70rem;
  color: #fff;
  background-color: #212529d3;
  border-radius: 0.875rem;
  padding: 0.2rem 1rem 2rem;
  margin-left: 12%;
  /* box-shadow: -0.3rem 0.3rem .5rem 1.5rem  whitesmoke; */
}
.comment-box h2{
  text-align: center;
  font-size: 4rem;
  padding-top: 5%;
}
.comment-form {
  /* background-color: #fff; */
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 1rem;  
}
.comment-form-fields {
  margin-bottom: 0.25rem;
  }
  input, textarea {
    border: none;
    font-size: 0.85rem;
    padding: 0.25rem 0;
    width: 99%;
    
    
 
}
input,textarea:focus {
      border-bottom-color: #00BDFC;
      outline: none;
    }
     textarea {
    font-style: italic;
  }

.comment-count {
  color:whitesmoke;
}
#comment-reveal {
  float: right;
  background-color: #F6EABE;
  color: black;
  font-size: 1.1rem;
}
.comment {
  border-top: 0.125rem solid#404040;
  margin: 0;
  padding: 0;
}
.comment-body {
  font-style: italic;
  margin-left: 1rem;
}
.comment-footer {
  margin-bottom: 1rem;
}
.comment-footer-delete {
  padding: 0.2rem 0;
  color:#404040;
  text-decoration: none;
}
.comment-list{
  padding-top: 4rem;
}
.comment-footer-delete:hover {
    color: #00BDFC;
    font-weight: bold;
  }
  @media screen and (max-width:1300px) {
    .comment-box {
      max-width: 48rem;
      margin-left: 10vw;
      margin-right: 10vw;
    }
  }
@media screen and (max-width:900px) {
  .comment-box {
    margin-left: 0;
    margin-right: 0;
  }
  .comment-box h2{
    text-align: center;
    font-size: 2rem;
    padding: 0;
  }
  .comment-count{
    display: none;
  }
  /* .comment-form-actions button{
    margin-left: 15%;
  } */
  #comment-reveal{
    margin-top: -12%;
  }
  /* .comment-box {
    height: 52vh;
  } */
}